# Node.js dependenciyalari
node_modules/

# Log fayllari
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment fayllari (maxfiy ma'lumotlar)
.env

# Temporer fayllar
*.log
*.tmp
*.swp

# OS va IDE tomonidan yaratilan fayllar
.DS_Store
Thumbs.db
.idea/
.vscode/

# Build fayllari
/dist
/build

# Paket menedjerlari
package-lock.json
yarn.lock
